{{ template "header" . }}
<div style="width: 100%;">
    <div class="col-24" style="width: 100%;">
        {{ template "profile" . }}
    </div>
    <br>
    <div class="col-24">
        <at-card class="at-card--no-hover" style="width: 100%;" :bordered="false" :noHover="true">
            <h4 slot="title">{{ .SiteName }}</h4>
            <div class="row at-row">
                {{ range $project := .Projects }}
                <div class="card col-xs-24 col-md-6">
                    <a href="/project/{{ $project.Name }}">
                        <at-card style="width: 250px;" :body-style="{ padding: 0 }">
                            <div>
                                <img style="width: 100%" src="{{ $project.Logo }}">
                                <div style="padding: 14px;">
                                    <h5>
                                        {{ $project.Name }}
                                        <at-badge value="{{ index $project.Languages 0 }}" status="info" style="float: right;"></at-badge>
                                    </h5>
                                    <p>{{ $project.Slogan }}</p>
                                </div>
                            </div>
                        </at-card>
                    </a>
                </div>
                {{ end }}
            </div>
        </at-card>
    </div>
</div>


{{ template "footer" . }}