{{ template "header" . }}
<div style="width: 100%;">
    <div class="col-24" style="width: 100%;">
        <at-card style="width: 100%;" :bordered="false">
            <div class="row at-row no-gutter flex-middle">
                <div class="col-md-6">
                    <img src="{{ .Logo }}" width="250px"/>
                </div>
                <div class="col-md-10">
                    <h1>{{ .Name }}</h1>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </at-card>
    </div>
    <br>
    <div class="col-24">

    </div>
</div>
{{ template "footer" . }}