{{ template "header" . }}
<div style="width: 100%;">
    <div class="col-24" style="width: 100%;">
        <at-card style="width: 100%;" :bordered="false" :no-hover="true">
            <div class="row at-row no-gutter flex-middle">
                <div class="col-md-6">
                    <img src="{{ .Logo }}" width="250px"/>
                </div>
                <div class="col-md-18">
                    <div class="row at-row no-gutter">
                        <div class="col-md-16">
                            <h1>{{ .Name }}</h1>

                            {{ if eq .Status -1 }}
                                <at-tag color="default" style="float: right; margin-right: 20px;">已弃坑</at-tag>
                            {{ else if eq .Status 0 }}
                                <at-tag color="primary" style="float: right; margin-right: 20px;">开发中...</at-tag>
                            {{ else if eq .Status 1 }}
                                <at-tag color="success" style="float: right; margin-right: 20px;">已上线</at-tag>
                            {{ end }}

                            {{ range $language := .Languages }}
                                <at-badge value="{{ $language }}" status="info"></at-badge>
                            {{ end }}
                            <p>{{ .Slogan }}</p>
                            <br>
                            <p>{{ .Description }}</p>
                            <br>
                            {{ range $tag := .Tags }}
                                <at-tag color="default">{{ $tag }}</at-tag>
                            {{ end }}

                        </div>
                        <div class="col-md-8">
                            {{ .Progress.Version }} 开发进度： <at-progress :percent="{{ .Progress.Percent }}" :stroke-width="4"></at-progress>
                            <br><br>
                            {{ if ne .Try "" }}
                            <!-- 立即体验 -->
                            <a href="{{ .Try }}" target="_blank">
                                <at-alert message="{{ .Name }} 现已上线，您可以立即体验！" description="{{ .Try }}" type="success" show-icon></at-alert>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </at-card>
    </div>
    <br>
    <div class="col-24">
        <at-tabs :animated="false">
            <at-tab-pane label="项目介绍" name="intro">
                <div class="markdown-body">{{ .IntroHTML | unescaped }}</div>
            </at-tab-pane>
            <at-tab-pane label="更新记录" name="history">
                <at-timeline>
                    {{ range $intro := .HistoryKey }}
                        <at-timeline-item>
                            <p>{{ $intro }}</p>
                            {{ range $item := index $.History $intro }}
                                <p>{{ $item }}</p>
                            {{ end }}
                        </at-timeline-item>
                    {{ end }}
                </at-timeline>
            </at-tab-pane>
        </at-tabs>
    </div>
</div>
{{ template "footer" . }}