.profile-img{
    width: 100%;
    display: block;
    left: 46%;
    margin: 0px 50px;
    top: -70px;
    overflow: hidden;
    border-radius: 500px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding: 5px;
    border-radius: 200px;
    height: 120px;
    max-width: none;
    width: 120px;
    vertical-align: middle;
}