{{ define "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ .Title }}</title>
    {{ template "include"}}
</head>
<body>
    <div id="app">
        <div  class="container">
            <at-menu mode="horizontal" active-name="1" @on-select="selectMenu">
                <at-menu-item name="/"><i class="icon icon-home"></i>{{ .SiteName }}</at-menu-item>
                <at-submenu>
                    <template slot="title"><i class="icon icon-grid"></i>语言</template>
                    {{ range $lang, $ := .LanguageTypes }}
                        <at-menu-item name="/language/{{ $lang | urlencode }}">{{ $lang }}</at-menu-item>
                    {{ end }}
                </at-submenu>
                <at-menu-item name="/about.html"><i class="icon icon-user"></i>关于</at-menu-item>
            </at-menu>
{{ end }}