{{ define "profile" }}
<at-card style="width: 100%;" :bordered="false" :no-hover="true">
    <div class="row at-row no-gutter flex-middle">
        <div class="col-md-4">
            <img class="profile-img" src="{{ .Avatar }}"/>
        </div>
        <div class="col-md-8">
            <h1>{{ .NickName }}</h1>
            <p><a href="{{ .Site }}">{{ .Site }}</a></p>
            <br>
            <p>{{ .Intro | unescaped }}</p>
        </div>
        <div class="col-md-12">
            <img height="80px" src="https://ghchart.rshah.org/{{ .GitHub }}"/>
        </div>
    </div>
</at-card>
{{ end }}